<<<<<<< HEAD
$color-1: #21c2f8;
;
$color-2: #fff;
$color-3:#222533;
$color-4: #F39705;
$color-5: #E25611;
$color-6: #9A2C4A;
$color-7: #97C200;
$color-8: #3D4C53;
$color-9: #62A783;
$color-10: #F82F54;
$color-11: #8FC567;

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    border: none;
    cursor: pointer;
}

$font-1: 'Lato',
sans-serif;

.row {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: flex-end;

    .btn {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.btn {
    background-color: $color-1;
    color: $color-2;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-1;
    font-size: 14px;
    font-weight: 900;
    padding: 12px 37px;
    border: none;


    &.medium {
        font-size: 18px;
        padding: 14px 47px;
    }

    &.large {
        font-size: 26px;
        padding: 24px 94px;
    }

    &.x-large {
        font-size: 36px;
        padding: 26px 102px;
    }


    &.round {
        &-3 {
            border-radius: 3px;
        }

        &-7 {
            border-radius: 7px;
        }

        &-12 {
            border-radius: 12px;
        }

        &-20 {
            border-radius: 20px;
        }
    }

    &.bg-color {
        &-1 {
            background-color: $color-1;
        }

        &-2 {
            background-color: $color-2;
        }

        &-3 {
            background-color: $color-3;
        }

        &-4 {
            background-color: $color-4;
        }

        &-5 {
            background-color: $color-5;
        }

        &-6 {
            background-color: $color-6;
        }

        &-7 {
            background-color: $color-7;
        }

        &-8 {
            background-color: $color-8;
        }

        &-9 {
            background-color: $color-9;
        }

        &-10 {
            background-color: $color-10;
        }

        &-11 {
            background-color: $color-11;
        }
    }

    &:hover {
        background-color: $color-5;
    }



}
=======
@import './components/header/index.scss';
>>>>>>> 6c1281397774ea257b6e124702d26c9bc02058d8
